/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/.idea/
/web/bundles/
/web/js
/web/css
/composer.phar
src/Lokos/ShopBundle/Resources/public/css/components/
src/Lokos/ShopBundle/Resources/public/css/uikit*
src/Lokos/ShopBundle/Resources/uikit/dist
src/Lokos/ShopBundle/Resources/uikit/docs